h1{
    text-align: center;
    background-color: blue;
    padding: 50px;
    color:aqua;
    font-size: 60px;
    width: 700px;
    height:100px;
    margin: 40px auto 10px auto;
    border: 5px solid black;


    
}

.recipe-links{
   border-color: black;
   background-color: aquamarine;
   margin:40px auto;  
   text-align: center;
   width: 800px;
   border: 5px solid black;
   margin: 40px auto 10px auto;
}

body{
    background-color: orange;
}

.recipe-links img{
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius: 10px;
    display: inline-block;
    border: 5px; 
    padding: 5px;
    margin: 5px;
    
}